/* body {
  background-color: blue;
} */

main {
  display: flex;
  margin: 20px 40px;
  justify-content: space-between;
}

.display-pane {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-display {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.scores-display {
  width: 40vw;
}

.rendered-scores {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 10px;
  font-size: 18px;
}

.rendered-scores:first-child {
  border-radius: 8px 8px 0 0;
}

.rendered-scores:last-child {
  border-radius: 0 0 8px 8px;
}

.score-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#input-area {
  display: flex;
  flex-direction: column;
}
