/* body {
  background-color: blue;
} */

h1 {
  margin: 40px;
  font-size: 40px;
}

main {
  display: flex;
  margin: 20px 40px;
  justify-content: space-between;
}

.display-pane {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

#refresher {
  width: 80px;
  height: 30px;
}

.scores-display {
  width: 40vw;
}

.rendered-scores {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 10px;
  font-size: 18px;
}

.rendered-scores:first-child {
  border-radius: 8px 8px 0 0;
}

/* .rendered-scores:nth-child(even) {
  background-color: darkcyan;
} */

.rendered-scores:last-child {
  border-radius: 0 0 8px 8px;
}

.score-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-area {
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 30px;
}

#player-id, #score-input {
  height: 40px;
}

.submit-Btn {
  padding: 10px 0;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
}

